input {
  max-width: 30em;

  &form-control:invalid {
    background-color: pink;
  }
}

.members-table {
  margin-top: 1em;
  th {
    text-align: center;
  }
  th,
  td {
    padding: 0.2rem 0.4rem;
  }
  td.memberId,
  td.level {
    text-align: right;
  }
  tr.lapsed td.expires {
    color: red;
  }
}

.meta-section {
  opacity: 50%;
  font-size: 0.8rem;

  h2 {
    padding: 0;
    font-weight: bold;
    font-size: 1em;
  }
}

.meta-grid {
  display: grid;
  // two columns, with min width on the first column and max width on the second
  grid-template-columns: minmax(10em, 1fr) max-content;
}
.meta-row {
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
