input.form-control:invalid {
  background-color: pink;
}

.members-table {
  margin-top: 1em;
  th {
    text-align: center;
  }
  th,
  td {
    padding: 0.2rem 0.4rem;
  }
  td.memberId,
  td.level {
    text-align: right;
  }
  tr.lapsed td.expires {
    color: red;
  }
}

.members-meta {
  opacity: 0.5;
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: right;
}
