.root {
  position: relative;
}

.root img {
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 24px;
}

h2 .root {
  :global(.certDot) {
    font-size: 70%;
  }
  .officerStar,
  .role {
    display: none;
  }
}

.officerStar {
  position: absolute;
  font-size: 25px;
  color: #eb0;
  top: -20;
  left: -10;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
