h1, .h1 {font-size: 1.8rem}
h2, .h2 {font-size: 1.5rem}
h3, .h3 {font-size: 1.25rem}

.cursor-pointer {
  cursor: pointer;
}

.deck {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.privileged { /*  For admin-only features */
  background: repeating-linear-gradient(-45deg,
    rgba(128, 128, 0, .8),
    rgba(128, 128, 0, .8) 10px,
    rgba(0, 0, 0, .1) 10px,
    rgba(0, 0, 0, .1) 20px
  );
}

nav a {color: #aaa;}
nav a:hover {color: #eee; background-color: #666;}
nav a.active {color: white}