.cert-dot {
  $certUnverified: rgb(196, 0, 0);
  $cert0: rgba(0, 0, 0, 0.2);
  $cert1: rgb(122, 114, 0);
  $cert2: rgb(170, 20, 0);
  $cert3: rgb(129, 20, 139);

  cursor: default;
  border: solid .13em;
  border-radius: 25%/50%;
  padding: 0 .3em;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .5);
  white-space: nowrap;

  &.cert-dot-unverified {color: $certUnverified}
  &.cert-dot-0 {color: $cert0}
  &.cert-dot-1 {color: $cert1}
  &.cert-dot-2 {color: $cert2}
  &.cert-dot-3 {color: $cert3}
}
