.manufacturer {
  opacity: 70%;
  font-size: 1rem;
}

.special {
  color: inherit
}

.special::before {
  content: 'Note: ';
  color: darken(blue, 15%);
  font-weight: bold;
}

.notes:before {
  padding-right: 0.5em;
  content: 'note:';
  color: #aaa;
  font-weight: bold;
  text-indent: -4em;
}
